/* ALL PAGE */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 4128px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
a:visited, a:link{
    color: #ffffff;
    text-decoration: none;
}

/* Área do Header */
header{
    width: 100%;
    height: 80px;
    background-color: #242424;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;

    position: fixed;
    z-index: 1000;
}
#menulinks a {
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    position: relative;
}
#menulinks a:hover {
    transition: 0.6s;
    transform: scale(120%);
}
#menulinks a::after {
    content: '';
    position: absolute;
    bottom: -4%;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 100px;
    background-color: #fffffff5; 
    transition: width 0.5s ease, left 0.5s ease;
}
#menulinks a:hover::after {
    width: 100%;
    left: 0  
}

/* Área do Main */
.container-inicio{
    display: flex;
    align-items: center;

    width: 100%;
    height: 1032px;

    padding-left: 100px;
    padding-right: 100px;
}

/* Section Pagina Inicial */
#iniciopage h1{
    display: flex;
    align-items: center;

    width: 100%;
    height: 100px;

    margin-top: 50px;
    font-size: 2.5em;
    font-weight: 1000;
    color: #667EF4;
}
#inicio{
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#inicio p{
    width: 750px;

    font-size: 1.2em;
    text-align: left;
    line-height: 1.6;
   
    text-align: justify;
    font-weight: 500;

}
#inicio img{
    width: 600px;
    height: 600px;
}
.p-principal{
    padding-left: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
}
#h2inicio{
    width: 750px;

    font-weight: 750;
    font-size:2.5em;
    

    color: #48494B;
}

/* Section SelectArea */
#h2page-selection{
    font-size: 4em;
    color: white;
    line-height: 0.8;
}
#h2page-selection h2 {
    height: 350px;
    width: 75%;
    
    display: flex;
    align-items: end;

    font-size:0.8em;
}
#selectarea{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
}
#selectarea table{
    margin-top: 70px;
}
.tables-index{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 80px;
    padding-bottom: 80px;
}
.tables-index td{
    height: 350px;
    width: 280px;

    background-color: grey;
    box-shadow: 7px 7px 20px #000000;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tables-index td:hover{
    cursor: pointer;
    transition: 0.6s;
    transform: scale(115%);
}
.tables-index td img{
    width: 150px;
    height: 150px;

    margin-top: 50px;
}
.tables-index td p{
    font-weight: 550;
    font-size: 2.3em;
    padding-top: 50px;
}
.p-selection{
    color: white;
    font-size: 1.5em;
}

/* Área dos contatos recente */
#contatosrecentes{
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
}
#contatosrecentes h1{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: baseline;

    width: 450px;
    height: 100px;
    margin-left: -100px;
    margin-bottom: 200px;
    background-color: #242424;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;

    font-size: 2.6em;
    color: white;
}
.card-contatosr{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 50px;
}
.cardformat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 400px;
    background-color: #777777;

    border-radius: 20px;
    box-shadow: 5px 5px 20px #000000;
}
.cardformat:hover{
    transform: scale(115%);
    transition: 0.6s;
}
.cardformat figure img{
    width: 200px;
    height: 200px;

    border-radius: 100%;
    margin-bottom: 40px;
}
.cardformat h2{
    width: 250px;
    height: auto;
    padding-bottom: 20px;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    color: black;
}
.cardformat p{
    width: auto;
    height: auto;

    font-size: 1.05em;
    text-align: center;
    color: #222222;
    line-height: 25px;
}
.cardformat p:hover{
    transition: 0.6s;
    color: #e6e6e6;
}
.divicons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.divicons img{
    width: 20px;
    height: 20px;
    margin-right: 7px;
}


/* Área dos Desenvolvedores */
#desenvolvedores{
    display: flex;
    flex-direction: column;
}
#contactdevs{
    width: 100%;
    color: #48494B;
    font-size: 4em;
    font-weight: 800;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 100px;
}
#perfil-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}
.contact-info {
    display: flex;
    flex-direction: column;

    width: 500px;
    height: 500px;

    padding: 30px;
    border-radius: 10px;

    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), 
                url(../img/hoveruser.png);
    background-size: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    animation: natal-luzes 2s infinite;
}
.contact-info:hover {
    transform: scale(110%);
    transition: 0.7s;
    box-shadow: 0 0 20px 5px rgba(13, 29, 255);
}
.contact-info h1 {
    font-size: 1.9em;
    padding-bottom: 15px;
    color: #007BFF;
}
.perfil-devs{
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
    object-fit: cover;

    border-radius: 50%;
    border: 4px solid #007BFF;
}
.chapeu-santa{
    position: relative;
    width: 250px;
    height: 115px;
    bottom: 90px;
    right: 168px;
    transform: scaleX(-1);
    opacity: 85%;
}
.divicons2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.divicons2:hover{
    transition: 0.4s;
    padding-left: 40px;
    transform: scale(105%);
}
.divicons2 img{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.divicons2 p{
    font-size: 1em;
    color:#ffffff;
    line-height: 30px;
}
.contact-info p:hover{
    color: #007BFF;
    transition: 0.5s;
}
@keyframes natal-luzes {
    0% {
        box-shadow: 0 0 10px 2px red, 10px 0 10px 2px green, -10px 0 10px 2px blue, 0 -10px 10px 2px yellow;
    }
    25% {
        box-shadow: 0 0 10px 2px green, 10px 0 10px 2px blue, -10px 0 10px 2px yellow, 0 -10px 10px 2px red;
    }
    50% {
        box-shadow: 0 0 10px 2px blue, 10px 0 10px 2px yellow, -10px 0 10px 2px red, 0 -10px 10px 2px green;
    }
    75% {
        box-shadow: 0 0 10px 2px yellow, 10px 0 10px 2px red, -10px 0 10px 2px green, 0 -10px 10px 2px blue;
    }
    100% {
        box-shadow: 0 0 10px 2px red, 10px 0 10px 2px green, -10px 0 10px 2px blue, 0 -10px 10px 2px yellow;
    }
}

/* Área do Footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #242424;
    width: 100%;
    height: 114px;

    color: #f9f9f9;
    text-transform: uppercase;
    line-height: 1.7;
    font-weight: bold;
}
